body
{
    background: -webkit-linear-gradient(rgb(61, 135, 179), rgb(121, 139, 160));
}

header{
    background-color: #87CEFA	;
    }

header, h2{
    text-align: center;
}

.logo 
{
    width: 120px;
}

h2{
    margin: 0;
    padding: 0;
}

.form {
    margin: 0 auto;
    max-width: 500px;        
}

section{
    background-color: white;    
    padding: 30px;
    border-radius: 100px;    
}

label {
    font-weight: bold;
}

ul{
	list-style:none;
	padding:0;
	margin:0;
}

li{
	display:inline;		
    font-size: 20px;
    text-decoration: none;
}

li:hover{
    color:white;
    background-color: black;
}

nav{
	background-color:dodgerblue;
	color:#FFFFFF;
	padding:5px;
    margin-bottom: 30px;
    text-align: center;
}

#msgErro{
    color:red;
    font-size: 12px;
}

input[type=text],input[type=password],input[type=date],input[type=email],input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;    
    border: 1px solid #ccc;
    border-radius: 4px;   
}
  
input[type=button],input[type=submit] {
    width: 100%;
    background-color: dodgerblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

footer
{
    background-color: #4169E1	;
    color:white;
    height: 10%;
    text-align: center;
    font-size: 20px;    
}

#loader
{
    position:absolute;
    width: 100%;
    height: 100%;

    background-image: url('../imagens/loader.gif');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

